/*
* Reset rules
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

/* Remove list styles and indentations on ul elements */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Inherit fonts for inputs and buttons and remove outline */
input,
button {
  font: inherit;
  outline: none;
}

/*
* Header font
*/
@font-face {
  font-family: "Papyrus";
  src: url("/font/1papyrus.ttf");
  font-weight: 400;
  font-style: normal;
}

/*
* Basic Style
*/
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: "Papyrus", fantasy, cursive;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: #4c2386;
}

.todo-list {
  display: block;
  width: 500px;
  max-width: 100%;
  margin: 0 auto 0;
}

.task,
.task-title {
  width: 56%;
  min-width: 50%;
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
}

.task-title {
  padding-left: 10px;
  font-size: 18px;
  width: 226px;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.btn:hover {
  color: #3a3a3a;
}

/* Heading */
.complete-tasks__title,
.incomplete-tasks__title,
.form__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 32px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task_text {
  display: none;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  width: 226px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task_text:focus {
  color: #333;
}

/* New Task */
.form {
  margin-block: 1em;
}

.form > *:nth-child(1) {
  margin: 0;
}

.form__title {
  display: block;
  margin: 0 0 20px;
}

.form__content {
  display: flex;
}

.form__task {
  display: inline-block;
  width: 318px;
  min-width: 50%;
}

/* Task list */
.complete-tasks__item,
.incomplete-tasks__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  margin: 0 10px;
}

.btn__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.complete-tasks__item .task-title,
.complete-tasks__item.edit-mode .task {
  text-decoration: line-through #888;
}

.edit-mode .task {
  display: inline-block;
  width: 224px;
  min-width: 50%;
}

.edit-mode .task-title {
  display: none;
}

@media (max-width: 768px) {

.header {
  text-align: center;
}

.form {
  margin-block: 0;
}

}